<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>minitree</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
</head>

<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/themes">Themes</a>
        <a href="/events">Events</a>
        <a href="/config">Settings</a>
    </div>

    {% block body %}

    {% endblock body %}

    <script src="{{url_for('static', filename='scripts/main.js')}}"></script>

    {% block script %}

    {% endblock script %}

</body>

</html>