{% extends 'base.html' %}


{% block body %}
<h1>Edit Event</h1>
<div class="form-container">
    <form id="eventForm">
        <div class="form-group">
            <label for="name">Event Name:</label>
            <input type="text" id="name" name="name" value="{{event.name}}" required>
        </div>
        <select id="themeSelect" name="themeSelect" value="off">
            <option value="{{ event.themeSelect}}" selected>{{ event.themeSelect}}</option>
            {% for theme in themes %}
            {% if theme != event.themeSelect %}
            <option value="{{ theme}}">{{ theme}}</option>
            {% endif %}
            {% endfor %}
        </select>
        <label for="freq">Select Frequency:</label>
        <select id="freq" name="freq">
            <option value="{{ event.freq}}" selected>{{ event.freq}}</option>
            <option value="Once">Once</option>
            <option value="Daily">Daily</option>
            <!-- <option value="week">Weekly</option> -->
        </select>

        <div id="start-block">
            <br><br>
            <label id="start-date-label" for="start_event_date">Choose an Event Start date:</label>
            <input type="date" id="start_event_date" name="start_event_date"> <!-- Latest selectable date -->
        </div>
        <div id="time-block">
            <br><br>
            <label for="event_time">Choose an Event time:</label>
            <input type="time" id="event_time" name="event_time" value={{event.event_time}}>
            <br><br>
            <div class="form-group">
                <button type="button" onclick="submitForm()">Update</button>
            </div>
            <br><br>
            <a href="/delevent/{{event.name}}">Delete</a>

        </div>
    </form>
</div>

{% endblock body %}

{% block script %}
<script src="{{url_for('static', filename='scripts/editevent.js')}}"></script>
{% endblock script %}