{% extends 'base.html' %}
{% block body %}
<h1>Theme Creator</h1>
<div class="form-container">
    <form method="POST" id="themeForm">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="pattern">Pattern:</label>
            <select id="pattern" name="pattern" required>
                <option value="">--Please choose a pattern--</option>
                <option value="solid">Solid</option>
                <option value="2Color">2 Color</option>
                <option value="3Color">3 Color</option>
            </select>
        </div>
        <div class="form-group" id="numLEDS" style="display: none">
            <label for="numPerGroup">LEDs Per Group:</label>
            <input type="number" id="numPerGroup" name="numPerGroup" value="1">
        </div>
        <div class="form-group-select">
            <div class="selection">

                <label id="label1" for="color1">Pick a color:</label>
                <input type="color" id="color1" name="color1" value="#000000">
            </div>
            <div class="selection">

                <label id="label2" for="color2">Pick a color:</label>
                <input type="color" id="color2" name="color2" value="#000000">
            </div>
            <div class="selection">

                <label id="label3" for="color3">Pick a color:</label>
                <input type="color" id="color3" name="color3" value="#000000">
            </div>

        </div>
        <div class="form-group">
            <button type="button" onclick="submitForm()">Submit</button>
        </div>

    </form>
</div>
{% endblock body %}

{% block script %}
<script src="{{url_for('static', filename='scripts/theme.js')}}"></script>
{% endblock script %}